@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #181F2A;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px 24px;
}

.ai {
  background: #28374791;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #E5F7FF;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 0.2px;
  line-height: 25px;

  max-width: 100%;
  overflow-x: scroll;

  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #283747;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  #chat_container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper {
    padding: 15px;
  }
  .ai {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .message {
    font-size: 18px;
    margin-top: 7px;
  }
}

@media screen and (min-width: 1280px) {
  #chat_container {
    max-width: 1400px;
  }
  .chat {
    margin: 0;
  }
  form {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

/*  */
/* CSS for the popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay .popup {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
  max-width: 426px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup .close-button img {
  width: 26px;
  height: 26px;
}

.popup .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.popup .logo img {
  width: 100px;
  height: 100px;
}

.popup .logo h1 {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #0077d2, #0b59a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.popup h1 {
  font-size: 24px;
  color: #181F2A;
  margin-bottom: 15px;
}

.popup p {
  font-size: 16px;
  color: #708496;
  font-weight: 400;
  margin-bottom: 15px;
}

.popup .break-line {
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 20px 0;
  opacity: 0.5;
  border-radius: 50px;
}

.popup .copyright {
  margin-top: 20px;
}

.popup .copyright p {
  font-size: 14px;
  color: #181F2A;
  /* opacity: 0.5; */
  margin-bottom: 0;
}

.popup .copyright a {
  text-decoration: none;
  background: linear-gradient(to right, #0077d2, #0b59a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .overlay .popup {
    padding: 20px 30px;
    max-width: 98%;
  }
}
@media screen and (max-width: 320px) {
  .overlay .popup {
    display: none;
  }
}


/*  */